/*HEADER*/

body{
    margin: 0px;
    background-image: linear-gradient(to right, #E6CDEE , #EBECF0);

}


.navbar {
    overflow: hidden;
    background-color: #252442;
    position: fixed;
    top: 0; 
    width: 100%;
  }
  .navbar img{
    float: left;
    padding: 14px;
    width: 60px;
    height: 30px;
    margin-left: 50px;
  }
  /* Links inside the navbar */
  .navbar a {
    float: right;
    display: block;
    color: #CDD6EE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 40px;
  }
  
  .navbar a:hover {
    text-decoration: underline #E6CDEE 3px;
  }
  
  /* Main content */
  .main {
    margin-top: 60px; /* Add a top margin to avoid content overlay */
  }

/*HeroImg*/
section.heroImg{
    height: 350px;
}

.left{
    float: left;
    width: 45%;
    height: 350px;
    background-image: linear-gradient(to right, #D6CDEE , #EBECF0);
}

img.left{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 60px;
    display: block;
    margin-left: 100px;
    margin-right: auto;
}

.right{
    width: 55%;
    height: 350px;
    margin: 0%;
    float: right;
    text-align: start;
    background-color: #EBECF0;
    color:#252442;
}
h1{
    font-family: 'Josefin Sans';
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    margin-top: 60px;
    text-decoration: underline #E6CDEE 6px;

}
p{
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    margin-left: 0;
    margin-right: 80px;

}

button.resume{
    margin: 20px;
    margin-left: 30px;
    background-color: #252442;
    color: #E6CDEE;
    border-radius: 15px;
    font-size: 10px;
    padding: 10px;
    width: 180px;
}
#About{
    background-image: linear-gradient(to right, #D6CDEE , #EBECF0);}
/*Skills*/
button.accordion{
    cursor: pointer;
    padding: 20px;
    height: 100px;
    width: 100%;
    text-align: left;
    font-family: 'Josefin Sans';
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline #252442 5px;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0;
    border-radius: 0px;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    float: right;
    margin-left: 5px;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

#Skills{
    background-color: #CDD6EE;
}
section.mySkills{
    background-color: #CDD6EE;
    height: 350px;
}
.flexContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 60px;
    background-color: #CDD6EE;
    padding-top: 10px;
    margin-right: 30px;

}
div.panel{
    margin: 0%;
}
div.box{
    background: rgba(245, 245, 245, 0.5);
    border-radius: 10px;
    flex: 0 0 25%;
    padding: 20px;
    margin: .5%;
    padding-top: 20px;
    text-align: center;
    height: 230px;
}

h1.skills{
    padding-top: 80px;
    margin-top: 0px;
    margin-bottom: 45px;
}


h2{
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 40px;
}
h4{
    font-family: "Open Sans";
    font-size: 14px;
    margin:auto;
    font-weight: 400;
    padding-bottom: 30px;
}
.panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/*Work*/
section.myWork{
    height: 800px;
    background-image: linear-gradient(to right, #E6CDEE , #EBECF0);
}
#Work{
    background-image: linear-gradient(to right, #E6CDEE , #EBECF0);
}
h1.work{
    padding-top: 80px;
    margin-top: 0px;
}
div.workGrid{
    background-image: linear-gradient(to right, #E6CDEE , #EBECF0);
    padding-left: 90px;
    padding-top: 10px;
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-row-gap: 30px;
    grid-template-columns: 150px 500px;
    grid-template-areas: 
        'Flower Jam'
        'Flower1 Sugar'
        'Flower2 App';
}
.flower{
    grid-area: Flower;
}
.flower1{
    grid-area: Flower1;
}
.flower2{
    grid-area: Flower2;
}
.jam{
    grid-area: Jam;
    background-color: #252442;
}
.sugar{
    grid-area: Sugar;
    background-color: #252442;
}
.app{
    grid-area: App;
    background-color: #252442;

}
button{
    width: 160px;
    height: 30px;
    border-radius: 4px;
    font-family: "Josefin Sans";
    font-size: 13px;
    font-weight: 400;
    background-color: #D6CDEE;
    color: #252442;
    margin-top: 20px;
    margin-left: 40px;
    padding: 6px;
}
h3{
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-left: 40px;
    color: #D6CDEE;
}
h5{
    font-family: "Open Sans";
    font-size: 14px;
    margin:auto;
    font-weight: 300;
    margin-left: 40px;
    color: #D6CDEE;
}

button.projects{
    border: 2px solid #252442;
    margin-top: 50px;
    padding-top: 5px;
    margin-left: 90px;
    width: 650px;
}
/*Footer*/
footer{
    background-color: #252442;
    padding: 1% 0% 1% 0%;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    color:#EBECF0;
    font-size: 10px;
    padding-left: 20px;
}

ul.footer{
    float: left;
}
